p{
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  color: #000;
}
.content a:hover{
  background-color: #ffe6e6;
}
.content a{
  display: block;
  background: white;
  height: 250px;
  width: 300px;
  margin: 3rem;
  text-align: center;
  vertical-align: text-bottom;
  position: relative;
}
.content{
  width: 1300px;
  position: relative;
  top: -15rem;
  left: 13rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
}
footer{
  position: relative;
  margin-top: -15rem;
}
