h1{
  color: #857ACC;
  margin-left: auto;
}
.szukaj{
  width: 63%;
}
.content{
  padding: 5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.content button{
  width: 350px;
  height: 80px;
  font-size: 30px;
  margin: 2rem;
}
footer{
  margin-top: 3rem;
}
.info{
  margin-left: 2rem;
}
#ed_us a{
  margin-right: 1rem;
}
